html {
  height: 100%;
  background-color: #e5e5e5;
}

body {
  min-height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  font-family: "Pt Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
}
