html {
  height: 100%;
  background-color: #e5e5e5;
}

body {
  min-height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  font-family: "Pt Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
}

.advantage-text {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.advantage-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantage-description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantage-additions-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantage-card > .advantage-description {
  color: inherit;
}

.advantage-card {
  background-color: rgba(131, 179, 211, 1);
  color: #ffffff;
  width: 33.33333%;
}

.advantage-additions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantage-additions-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 33.33333%;
}

.advantage-additions-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantage-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantage-list-item {
  background-color: rgba(131, 179, 211, 0.12);
  width: 33.33333%;
}

.advantage-list-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-list-group {
  display: flex;
  flex-wrap: wrap;
}

.subscribe {
  background-image: url("../images/jpg/bg-email.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.subscribe-subtitle {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #83b3d3;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.header {
  display: flex;
  padding: 0 72px;
}

.header-nav {
  width: 50%;
  padding: 20px 17px;
}

.header-logo-link {
  margin-right: 30px;
}

.nav-link {
  margin-right: 34px;
}

.main-container {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  width: 30%;
  margin: 0;
  padding: 0;
}

.nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
}

.list-link-search {
  margin-left: 12px;
}

.list-link-like {
  margin-left: 24px;
}

.list-link-yes {
  margin-left: 32px;
  min-width: 160px;
  font-family: "Pt Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
  color: #ffffff;
}

.welcome {
  padding-top: 548px;
  background-image: url("../images/jpg/image-main.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
}

.offer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.offer-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.offer-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
  color: #ffffff;
}

.submit {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
}

.tel-number {
  margin: 0 auto;
  font-size: 40px;
  line-height: 46px;
  color: inherit;
}

.inner-container {
  background-image: url("../images/jpg/bg-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 0 72px;
}

.header-inner-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  width: 50%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
}

.hotel-filter {
  display: flex;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.hotel-filter-list {
  width: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reset {
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  border: none;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-type {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.grade-hotel {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.hotel-link-details {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756257;
}

.hotel-link-like {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #83b3d3;
}

.show-more {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  background-color: #83b3d3;
}

.pagination-title {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  width: 200px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.footer-logo-link {
  margin-left: auto;
}

.page-footer {
  display: flex;
  padding: 40px 72px;
}
