.header {
  display: flex;
  padding: 0 72px;
  position: relative;
  margin-bottom: -6px;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 16px 17px;
}

.header-logo-link {
  box-sizing: border-box;
  display: block;
  margin-right: 30px;
  padding: 0;
}

.header-logo {
  display: block;
  max-width: 100%;
}

.main-container {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-end;
  width: 30%;
  margin: 0;
  padding: 14px 0;
}

.nav-link {
  padding: 14px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
  margin-right: 34px;
}

.nav-link:hover {
  color: #756257;
}

.nav-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.list-link-search {
  display: block;
  position: relative;
  min-height: 18px;
  min-width: 18px;
  margin-left: 12px;
}

.list-link-like {
  display: block;
  position: relative;
  min-height: 18px;
  min-width: 18px;
  margin-left: 24px;
  color: #ffffff;
}

.list-link-like:active {
  color: rgba(255, 255, 255, 0.3);
}

.list-link-yes {
  margin-left: 32px;
  min-width: 160px;
  font-family: "Pt Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px;
  display: block;
  width: 130px;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
}

.list-link-yes:hover {
  background-color: #615048;
}

.list-link-yes:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.list-link-yes:active {
  color: rgba(255, 255, 255, 0.3);
}

.like-number {
  position: absolute;
  top: 1px;
  right: -14px;
  text-decoration: none;
  font-size: 10px;
  color: inherit;
  background-color: #7db550;
  padding: 0 4px;
  border-radius: 15px;
}

.link-current {
  border-bottom: 2px solid #756257;
}
