.icon-header {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.icon-header:hover {
  fill: #756257;
}

.icon-header:active {
  fill: #756257;
  opacity: 0.3;
}

