.inner-container {
  background-image: url("../images/jpg/bg-catalog.jpg");
  background-repeat: no-repeat;
  color: #ffffff;
  padding: 35px 72px 66px;
}

.header-inner-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}
