.modal-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 100%;
  background-color: rgba(242, 242, 242, 0.8);
}

.modal {
  position: relative;
  margin: auto;
  background-color: #ffffff;
}

.modal-search {
  width: 715px;
  padding: 66px 70px 70px;
  border-radius: 30px;
  box-sizing: border-box;
}

.modal-close-button {
  position: absolute;
  padding: 0;
  top: 0;
  right: 0;
  width: 50px;
  height: 50px;
  background-color: #000000;
  border: none;
  mask-image: url("..//..//images/svg/icon-close.svg");
  mask-repeat: no-repeat;
  mask-position: center;
  cursor: pointer;
}

.modal-title {
  margin-bottom: 45px;
  padding: 0;
  font-weight: 700;
  line-height: 40px;
  font-size: 30px;
  text-transform: uppercase;
}

.modal-field-form {
  border: none;
  margin: 0;
  padding: 0;
}

.modal-field-form-bottom {
  display: flex;
}
