.offer {
  padding: 93px 240px;
  text-align: center;
}

.offer-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.offer-subtitle {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.offer-link {
  display: block;
  margin-top: 56px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
}
