.order-card {
  display: flex;
  width: 48px;
  height: 48px;
  outline-offset: -2px;
  outline: 2px solid #e6e6e6;
  border-radius: 4px;
}

.order-card-item:not(:last-child) {
  margin-right: 8px;
}

.order-card-list {
  outline: 2px solid #000000;
}

.order-card::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #000000;
  margin: auto;
}

.order-card-list::after {
  mask-image: url("../images/svg/icon-title.svg");
}

.order-card-slide::after {
  mask-image: url("../images/svg/icon-slide-show.svg");
}

.order-card-tile::after {
  mask-image: url("../images/svg/icon-list.svg");
}

.order-card:hover {
  outline: 2px solid #83b3d3;
  border-radius: 4px;
}

.order-card:focus {
  outline: 2px solid #83b3d3;
  border-radius: 4px;
}
