.page-footer {
  display: flex;
  padding: 40px 72px;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.tel-number {
  margin: 0 auto;
  font-size: 40px;
  line-height: 46px;
  color: inherit;
}

.logo-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  width: 30%;
}
