.range-target {
  width: 93%;
  margin-top: 20px;
  padding-right: 20px;
}

.range-base {
  position: relative;
  height: 20px;
}

.range-base::before {
  content: "";
  position: absolute;
  top: 8px;
  right: -20px;
  bottom: 8px;
  left: 0;
  background-color: currentColor;
  opacity: 0.3;
}

.range-connect,
.range-origin {
  position: absolute;
  width: 100%;
  transform-origin: 0 0;
  transform-style: flat;
  transition: transform 0.2s ease-in-out;
  will-change: transform;
}

.range-connect {
  top: 8px;
  right: 0;
  height: 4px;
  background-color: currentColor;
}

.range-origin {
  top: 0;
  left: 100%;
}

.range-handle {
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.range-handle:hover {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-handle:focus {
  outline: 3px solid #83b3d3;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
}

.range-handle:active {
  outline: 2px solid #83b3d3;
  box-shadow: 0 7px 15px rgba(0, 0, 0, 0.4);
}
