.section-filter {
  display: flex;
  padding: 50px 72px;
}

.search-result {
  text-transform: uppercase;
  margin-right: 160px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}

.select-control {
  font-family: "Pt Sans", sans-serif;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  padding: 12px 40px 12px 20px;
  margin-right: 81px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.button-slide {
  width: 48px;
  height: 48px;
  border: 2px solid #E6E6E6;
  border-radius: 4px;
  margin-right: 8px;
}

.button-card {
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
  margin-right: 8px;
}

.button-list {
  width: 48px;
  height: 48px;
  border: 2px solid #E5E5E5;
  border-radius: 4px;
}
