.select-wrapper {
  width: 27%;
  margin-right: 20px;
  position: relative;
}

.select-wrapper::after {
  content: "";
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 12px;
  height: 7px;
  mask-image: url("../images/svg/arrow-down-icon.svg");
  background-color: #e6e6e6;
}

.select-wrapper:active::after {
  background-color: rgb(230, 230, 230, 0.3);
}
