.show-more {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 17px 0;
  width: 619px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  background-color: #83b3d3;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 60px;
}
