.show-more {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 18px 1px 17px;
  width: 618px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  background-color: #83b3d3;
  margin: 29px auto 29px;
  border-radius: 4px;
}

.show-more:hover {
  background-color: #68a2ca;
}

.show-more:active {
  background-color: #68a2ca;
  color: rgb(255, 255, 255, 0.3);
}

.show-more-wrapper {
  margin: 0 0 30px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
  padding: 0 72px;
}
