.social-media {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  position: relative;
  top: -2px;
  left: -11px;
}

.social-media-link {
  position: relative;
  box-sizing: border-box;
  padding: 12px 10px;
  display: block;
  height: 40px;
  width: 40px;
}

.social-media-link::before {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #83b3d3;
}

.social-media-link:hover::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #68a2ca;
}

.social-media-link:focus {
  border: 3px solid #83b3d3;
  border-radius: 10px;
}

.social-media-link:active::before {
  background-color: rgba(117, 98, 87, 0.3);
}

.social-media-link-twitter::before {
  mask-image: url("../images/svg/icon-twitter.svg");
}

.social-media-link-facebook::before {
  mask-image: url("../images/svg/icon-facebook.svg");
}

.social-media-link-youtube::before {
  mask-image: url("../images/svg/icon-youtube.svg");
}
