.subscribe {
  padding: 94px 200px;
  background-image: url("../images/jpg/bg-email.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.subscribe-subtitle {
  color: #ffffff;
  margin: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

.email {
  display: flex;
}

.input-email {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  width: 600px;
  padding: 17px;
  padding-left: 22px;
  border-radius: 10px 0 0 10px;
  border: none;
  outline-offset: -3px;
}

.input-email:hover {
  background-color: #e6e6e6;
}

.input-email:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.input-email:invalid {
  background-color: #ffffff;
  outline: 3px solid #ff5757;
}
