.welcome {
  padding-top: 548px;
  background-image: url("../images/jpg/image-main.jpg");
  background-repeat: no-repeat;
  /* background-size: 100%; */
}

.title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 31px;
}
