.advantage-text {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.advantage-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantage-description {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantage-additions-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantage-card>.advantage-description {
  color: inherit;
}

.advantage-card {
  background-color: rgba(131, 179, 211, 1);
  color: #ffffff;
  width:  33.33333%;
}

.advantage-additions {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.advantage-additions-item {
  background-color: rgba(131, 179, 211, 0.12);
  width:  33.33333%;
}

.advantage-additions-item:nth-child(2n) {
  background-color: #FFFFFF;
}

.advantage-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantage-list-item {
  background-color: rgba(131, 179, 211, 0.12);
  width:  33.33333%;
}

.advantage-list-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}


