.subscribe {
  background-image: url("../images/jpg/bg-email.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.subscribe-subtitle {
  font-size: 22px;
  line-height: 26px;
}

.subscribe-submit {
  margin-bottom: 20px;
  padding: 0;
  width: 160px;
  height: 48px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
}

.button-container {
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  align-self: flex-end;
}
