{% extends "_layout.html" %}

{% set page = 'catalog' %}
{% set pageTitle = 'Гостиницы' %}

{% block main %}

<div class="inner-container">
  <header class="header-inner">
    <h1 class="header-inner-title">
      Гостиницы Седоны
    </h1>
    <ol class="breadcrumbs">
      <li class="breadcrumbs-item">
        <a href="index.html" class="breadcrumbs-lik">
          <span class="visually-hidden">
            Главная.
          </span>
        </a>
      </li>
      <li class="breadcrumbs-item">
        <a class="breadcrumbs-link">
          Гостиницы
        </a>
      </li>
    </ol>
  </header>
  <!-- Раздел выбора жилья по нужным критериям -->
  <section class="hotel-selection">
    <h2 class="visually-hidden">
      Выбор гостиницы по параметрам.
    </h2>
    <form class="hotel-filter" action="https://echo.htmlacademy.ru/courses" method="get">
      <fieldset class="hotel-filter-group">
        <legend class="hotel-filter-title">
          Инфраструктура:
        </legend>
        <ul class="hotel-filter-list">
          <li class="hotel-filter-item">
            <label class="control">
              <input type="checkbox" class="control-input" name="pool" checked>
              Бассейн
            </label>
          </li>
          <li class="hotel-filter-item">
            <label class="control">
              <input type="checkbox" class="control-input" name="parking" checked>
              Парковка
            </label>
          </li>
          <li class="hotel-filter-item">
            <label class="control">
              <input type="checkbox" class="control-input" name="wi-fi">
              Wi-Fi
            </label>
          </li>
        </ul>
      </fieldset>
      <fieldset class="hotel-filter-group">
        <legend class="hotel-filter-title">
          Тип жилья:
        </legend>
        <ul class="hotel-filter-list">
          <li class="hotel-filter-item">
            <label class="control">
              <input type="radio" class="control-input" name="house-filter" value="hotel" checked>
              Гостиница
            </label>
          </li>
          <li class="hotel-filter-item">
            <label class="control">
              <input type="radio" class="control-input" name="house-filter" value="motel">
              Мотель
            </label>
          </li>
          <li class="hotel-filter-item">
            <label class="control">
              <input type="radio" class="control-input" name="house-filter" value="apartments">
              Аппартаменты
            </label>
          </li>
        </ul>
      </fieldset>
      <fieldset class="hotel-filter-group">
        <legend class="hotel-filter-title">
          Стоимость, в ₽.:
        </legend>
        <ul class="number-list">
          <li class="number-value">
            <label>
              <input type="number" min="0" max="11100" step="100">
              <span class="number-value min">от</span>
            </label>
          </li>
          <li class="number-value">
            <label>
              <input type="number" min="0" max="11100" step="100">
              <span class="number-value max">до</span>
            </label>
          </li>
        </ul>
      </fieldset>
      <p class="button-container">
        <button class="subscribe-submit" type="submit">
          Применить
        </button>
        <button class="reset" type="reset">
          Сбросить
        </button>
      </p>
    </form>
</div>
<section class="section-filter">
  <p class="search-result">
    Найдено гостиниц: 38
  </p>
  <select class="select-control" aria-label="Сортировка">
    <option value="cheap">
      Сначала недорогие
    </option>
    <option value="popular">
      Сначала популярные
    </option>
    <option value="expensive">
      Сначала дорогие
    </option>
  </select>
  <a href="#" class="button-card">
    <span class="visually-hidden">
      Показать карточки.
    </span>
  </a>
  <a href="#" class="button-slide">
    <span class="visually-hidden">
      Показать слайд-шоу.
    </span>
  </a>
  <a href="#" class="button-list">
    <span class="visually-hidden">
      Показать список.
    </span>
  </a>
</section>

<!-- Секция с карточками отелей -->
<section class="hotel-card">
  <div class="hotel-card-item">
    <img src="images/jpg/image-hotel-1.jpg" width="299" height="206" alt="Amara Resort & Spa" class="hotel-image">
    <h2 class="hotel-title">
      Amara Resort & Spa
    </h2>
    <span class="hotel-type">
      Гостиница
    </span>
    <span class="hotel-type">
      От 4000 ₽
    </span>
    <a href="#" class="hotel-link-details">
      Подробнее
    </a>
    <a href="#" class="hotel-link-like">
      В избранное
    </a>
    <p class="four-star">
      <span class="visually-hidden">
        Рейтинг отеля 4 звезды.
      </span>
    </p>
    <p class="grade-hotel">
      Рейтинг: 8,5
    </p>
  </div>
  <div class="hotel-card-item">
    <img src="images/jpg/image-hotel-2.jpg" width="299" height="206" alt="Desert Quail Inn" class="hotel-image">
    <h2 class="hotel-title">
      Desert Quail Inn
    </h2>
    <span class="hotel-type">
      Гостиница
    </span>
    <span class="hotel-type">
      От 3000 ₽
    </span>
    <a href="#" class="hotel-link-details">
      Подробнее
    </a>
    <a href="#" class="hotel-link-like">
      В избранное
    </a>
    <p class="four-star">
      <span class="visually-hidden">
        Рейтинг отеля 3 звезды.
      </span>
    </p>
    <p class="grade-hotel">
      Рейтинг: 8,9
    </p>
  </div>
  <div class="hotel-card-item">
    <img src="images/jpg/image-hotel-3.jpg" width="299" height="206" alt="Villas at Poco Diablo" class="hotel-image">
    <h2 class="hotel-title">
      Villas at Poco Diablo
    </h2>
    <span class="hotel-type">
      Гостиница
    </span>
    <span class="hotel-type">
      От 2000 ₽
    </span>
    <a href="#" class="hotel-link-details">
      Подробнее
    </a>
    <a href="#" class="hotel-link-like">
      В избранное
    </a>
    <p class="four-star">
      <span class="visually-hidden">
        Рейтинг отеля 2 звезды.
      </span>
    </p>
    <p class="grade-hotel">
      Рейтинг: 9,2
    </p>
  </div>
  <div class="hotel-card-item">
    <img src="images/jpg/image-hotel-4.jpg" width="299" height="206" alt="GreenTree Inn" class="hotel-image">
    <h2 class="hotel-title">
      GreenTree Inn
    </h2>
    <span class="hotel-type">
      Гостиница
    </span>
    <span class="hotel-type">
      От 3000 ₽
    </span>
    <a href="#" class="hotel-link-details">
      Подробнее
    </a>
    <a href="#" class="hotel-link-like">
      В избранное
    </a>
    <p class="four-star">
      <span class="visually-hidden">
        Рейтинг отеля 2 звезды.
      </span>
    </p>
    <p class="grade-hotel">
      Рейтинг: 9,2
    </p>
  </div>
  <a href="#" class="show-more">
    Загрузить еще
  </a>
</section>

<!-- Секция с пагинацией -->
<ul class="pagination-list">
  <li class="pagination-item">
    <a class="pagination-link">
      1
    </a>
  </li>
  <li class="pagination-item">
    <a href="#" class="pagination-link">
      2
    </a>
  </li>
  <li class="pagination-item">
    <a href="#" class="pagination-link">
      3
    </a>
  </li>
  <li class="pagination-item">
    <a href="#" class="pagination-link">
      4
    </a>
  </li>
  <li class="pagination-item">
    <a href="#" class="pagination-link">
      ...
    </a>
  </li>
  <li class="pagination-item">
    <a href="#" class="pagination-link">
      10
    </a>
  </li>
</ul>
<label class="pagination-title">
  Гостиниц на странице
  <select name="number-page" class="pagination">
    <option value="1">
      1
    </option>
    <option value="2">
      2
    </option>
    <option value="3">
      3
    </option>
    <option value="4">
      4
    </option>
    <option value="5">
      5
    </option>
    <option value="6">
      6
    </option>
    <option value="7">
      7
    </option>
    <option value="8">
      8
    </option>
    <option value="9">
      9
    </option>
    <option value="10">
      10
    </option>
  </select>
</label>

{% endblock %}
