html {
  background-color: #E5E5E5;
}

body {
  background-color: #FFFFFF;
}

@font-face {
  font-family: "Pt Sans" ;
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pt Sans" ;
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

body {
  font-family: "Pt Sans",sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 21px;
}

.nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
}

.list-link-yes {
  font-family: "Pt Sans",sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
  color: #FFFFFF;
}

.welcome {
  background-image: url("../image/jpg/image-main.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.advantage-text {
  font-size: 22px;
  line-height: 36px;
  color: #333333;
}

.advantage-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantage-description {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantages-card {
  background-color: rgba(131, 179, 211, 1) ;
}

.additions-item {
  background-color: rgba(131, 179, 211, 0.12);
}

.additions-item:nth-child(2n) {
  background-color: #FFFFFF;
}

.advantage-list-item:nth-child(3) {
 background-color: rgba(131, 179, 211, 0.12);
}

.advantage-list-item:nth-child(4) {
  background-color: rgba(131, 179, 211, 0.2);
 }

.advantage-list-item:nth-child(5) {
  background-color: rgba(131, 179, 211, 0.12);
 }

.additions-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.additions-text {
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.offer-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}
.offer-subtitle {
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.offer-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
  color: #FFFFFF;
}

.subscribe {
  background-image: url("../image/jpg/bg-email.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.subscribe-title {
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.subscribe-subtitle {
  font-size: 22px;
  line-height: 26px;
}

.submit {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.tel-number {
  font-size: 40px;
  line-height: 46px;
  color: inherit;
}

.inner-container {
  background-image: url(../image/jpg/bg-catalog.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: #FFFFFF;
}

.heade-inner-title {
  font-weight: 700;
  font-size: 60px;
  line-height: 77px;
  color: #FFFFFF;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
}

.hotel-filter-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
}

.subscribe-submit {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.reset {
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  background-color: transparent;
  border: none;
}

.search-result {
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-type {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.hotel-price {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.grade-hotel {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.hotel-link-details {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #756257;
}

.hotel-link-like {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.show-more {
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  background-color: #83B3D3;
}

.pagination-title {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}
