@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #e5e5e5;
}

body {
  min-height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  font-family: "Pt Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
}

.advantage-text {
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 80px;
}

.advantage-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantage-description {
  margin: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantage-additions-title {
  margin: 0;
  margin-bottom: 20px;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantage-additions-title::before {
  position: absolute;
  content: "";
  background-size: 75px 75px;
  width: 75px;
  height: 75px;
  background-repeat: no-repeat;
  top: 89px;
  right: 162px;
}

.advantage-additions-title-home::before {
  background-image: url("../images/svg/icon-home.svg");
}

.advantage-additions-title-food::before {
  background-image: url("../images/svg/icon-burger.svg");
}

.advantage-additions-title-souvenirs::before {
  background-image: url("../images/svg/icon-gift.svg");
}

.advantage-card > .advantage-description {
  color: inherit;
}

.advantage-card {
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 1);
  color: #ffffff;
  width: 33.333333%;
  text-align: center;
  padding: 97px 90px 87px;
}

.advantage-additions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.advantage-additions-item {
  position: relative;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
  width: 33.333333%;
  padding: 184px 75px 87px;
  text-align: center;
}

.advantage-additions-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantage-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantage-list-item {
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
  width: 33.333333%;
  padding: 97px 75px 87px;
}

.advantage-list-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-list-group {
  display: flex;
  flex-wrap: wrap;
}

.breadcrumbs {
  display: flex;
  width: 50%;
  padding: 0;
  margin: 0;
  list-style-type: none;
  position: relative;
  margin-top: -3px;
}

.breadcrumbs-item {
  position: relative;
  padding-right: 20px;
}

.breadcrumbs-link {
  display: flex;
  font-size: 16px;
  line-height: 20px;
  width: auto;
  height: 20px;
  color: #ffffff;
  outline-offset: 1px;
}

.breadcrumbs-link-icon {
  width: 20px;
}

.breadcrumbs-link-icon::before {
  display: block;
  content: "";
  height: 12px;
  width: 12px;
  -webkit-mask-image: url("../images/svg/icon-home-page.svg");
          mask-image: url("../images/svg/icon-home-page.svg");
  background-color: currentColor;
  margin: auto;
}

.breadcrumbs-item:not(:last-child)::after {
  display: block;
  content: "";
  height: 11px;
  width: 7px;
  -webkit-mask-image: url("../images/svg/icon-arrow.svg");
          mask-image: url("../images/svg/icon-arrow.svg");
  background-color: currentColor;
  position: absolute;
  opacity: 0.3;
  top: 5px;
  right: 6px;
}

.breadcrumbs-link:hover {
  opacity: 0.3;
}

.breadcrumbs-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 3px;
  pointer-events: none;
}

.breadcrumbs-link:active {
  opacity: 0.3;
}

.catalog-filter-button {
  width: 160px;
  height: 48px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  margin-bottom: 20px;
}

.catalog-filter-button:hover {
  background-color: #68a2ca;
}

.catalog-filter-button:focus {
  background-color: #68a2ca;
  outline: 3px solid #ffffff;
}

.catalog-filter-button:active {
  background-color: #68a2ca;
  color: rgba(255, 255, 255, 0.3);
}

.subscribe-button {
  width: 200px;
  border-radius: 0 10px 10px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  cursor: pointer;
  outline-offset: -2px;
  padding: 20px;
}

.subscribe-button:hover {
  background-color: #68a2ca;
}

.subscribe-button:focus {
  outline: 3px solid #756257;
}

.subscribe-button:active {
  color: rgba(255, 255, 255, 0.3);
}

.button-link {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  padding: 10px 15px;
  border-radius: 4px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;
  color: #ffffff;
}

.button-link-details {
  background-color: #756257;
}

.button-link-like {
  background-color: #83b3d3;
}

.social-media-list {
  margin-right: 9px;
}

.footer-logo-link {
  display: block;
  padding: 18px 20px;
  position: relative;
}

.footer-logo-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.footer-logo {
  opacity: 0;
}

.footer-logo-link::after {
  width: 115px;
  height: 34px;
  display: block;
  content: "";
  position: absolute;
  top: 18px;
  left: 20px;
  -webkit-mask-image: url("../images/svg/logo-htmlacademy.svg");
          mask-image: url("../images/svg/logo-htmlacademy.svg");
  background-color: #000000;
  pointer-events: none;
}

.footer-logo-link:hover::after {
  background-color: #756257;
}

.footer-logo-link:active::after {
  background-color: rgba(117, 98, 87, 0.3);
}

.icon-header {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  fill: #000000;
}

.icon-header:hover {
  fill: #756257;
}

.icon-header:active {
  fill: #756257;
  opacity: 0.3;
}

.header {
  display: flex;
  padding: 0 72px;
  position: relative;
  margin-bottom: -6px;
}

.header-nav {
  display: flex;
  align-items: center;
  width: 50%;
  padding: 16px 17px;
}

.header-logo-link {
  box-sizing: border-box;
  display: block;
  margin-right: 30px;
  padding: 0;
}

.header-logo {
  display: block;
  max-width: 100%;
}

.main-container {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-end;
  width: 30%;
  margin: 0;
  padding: 14px 0;
}

.header-list-icon {
  position: absolute;
  top: 20px;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.nav-link {
  padding: 14px 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
  margin-right: 34px;
}

.nav-link:hover {
  color: #756257;
}

.nav-link:active {
  color: rgba(117, 98, 87, 0.3);
}

.list-link-search {
  display: block;
  position: relative;
  min-height: 18px;
  min-width: 18px;
  margin-left: 12px;
}

.list-link-like {
  display: block;
  position: relative;
  min-height: 18px;
  min-width: 18px;
  margin-left: 24px;
  color: #ffffff;
}

.list-link-like:active {
  color: rgba(255, 255, 255, 0.3);
}

.list-link-yes {
  margin-left: 32px;
  min-width: 160px;
  font-family: "Pt Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px;
  display: block;
  width: 130px;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
}

.list-link-yes:hover {
  background-color: #615048;
}

.list-link-yes:focus {
  background-color: #615048;
  outline: 3px solid #83b3d3;
}

.list-link-yes:active {
  color: rgba(255, 255, 255, 0.3);
}

.like-number {
  position: absolute;
  top: 1px;
  right: -14px;
  text-decoration: none;
  font-size: 10px;
  background-color: #7db550;
  padding: 0 4px;
  border-radius: 15px;
}

.link-current {
  border-bottom: 2px solid #756257;
}

.hotel-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
  grid-column: 1/-1;
}

.hotel-type {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.grade-hotel {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
  text-transform: uppercase;
  margin-top: 6px;
  margin-bottom: 0;
}

.hotel-card {
  padding: 0 72px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 18px 10px;
  margin-bottom: 64px;
}

.hotel-card-item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 20px;
  margin: 0 auto;
  grid-gap: 10px 16px;
}

.hotel-image {
  grid-column: 1/-1;
}

.hotel-selection {
  margin-top: 45px;
}

.hotel-filter {
  display: flex;
}

.hotel-filter-group {
  margin-right: 30px;
  margin-left: 0;
  border: none;
  padding: 0;
}

.hotel-filter-title {
  margin-bottom: 30px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.hotel-filter-list {
  width: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.button-container {
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  align-self: flex-end;
}

.number-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-filter-group:nth-last-of-type(2) {
  margin: 0;
}

.hotel-filter-group:last-of-type {
  margin-left: 216px;
  margin-right: 0;
}

.reset {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  width: 100px;
}

.reset:hover {
  opacity: 0.6;
}

.reset:focus {
  outline: 3px solid #83b3d3;
  border-radius: 4px;
}

.reset:active {
  color: rgba(255, 255, 255, 0.3);
}

.inner-container {
  background-image: url("../images/jpg/bg-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 35px 72px 83px;
}

.header-inner-title {
  margin: 0;
  margin-left: 4px;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.logo-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  align-self: center;
  width: 30%;
}

.offer {
  padding: 93px 240px;
  text-align: center;
}

.offer-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.offer-subtitle {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.offer-link {
  display: inline-block;
  margin-top: 56px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
  text-transform: uppercase;
  border-radius: 10px;
  padding: 15px 160px;
}

.offer-link:hover {
  background-color: #615048;
}

.offer-link:focus {
  outline: 3px solid #83b3d3;
}

.offer-link:active {
  color: rgba(255, 255, 255, 0.3);
}

.page-footer {
  display: flex;
  padding: 40px 72px;
}

.pagination-title {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.pagination-container {
  display: flex;
  padding: 0 72px;
  margin-bottom: 73px;
  justify-content: space-between;
  align-items: center;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  min-width: 55px;
  border-radius: 4px;
  background-color: #83b3d3;
  text-decoration: none;
  line-height: 26px;
  text-align: center;
  padding: 14px 16px 15px;
  margin-right: 8px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
  box-sizing: border-box;
}

.pagination-link-current {
  background-color: #f2f2f2;
  color: #000000;
  display: block;
  min-width: 55px;
  border-radius: 4px;
  text-decoration: none;
  line-height: 26px;
  text-align: center;
  padding: 14px 16px 15px;
  margin-right: 8px;
  font-weight: 700;
  font-size: 20px;
  box-sizing: border-box;
}

.select-number-page {
  margin-left: 51px;
  padding: 12px 40px 12px 20px;
  width: 160px;
  font-family: inherit;
  font-size: 18px;
  line-height: 23px;
}

.section-filter {
  display: flex;
  padding: 50px 72px;
}

.search-result {
  text-transform: uppercase;
  margin-right: 160px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}

.select-control {
  font-family: "Pt Sans", sans-serif;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  padding: 12px 40px 12px 20px;
  margin-right: 81px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.select-control:hover {
  outline: 2px solid #83b3d3;
}

.select-control:focus {
  outline: 2px solid #83b3d3;
}

.select-control:active {
  opacity: 0.3;
}

.order-card {
  display: flex;
  width: 48px;
  height: 48px;
  outline: 2px solid #e6e6e6;
  border-radius: 4px;
  margin-right: 8px;
}

.order-card-list {
  outline: 2px solid #000000;
}

.order-card::after {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #000000;
  margin: auto;
}

.order-card-list::after {
  -webkit-mask-image: url("../images/svg/icon-title.svg");
          mask-image: url("../images/svg/icon-title.svg");
}

.order-card-slide::after {
  -webkit-mask-image: url("../images/svg/icon-slide-show.svg");
          mask-image: url("../images/svg/icon-slide-show.svg");
}

.order-card-tile::after {
  -webkit-mask-image: url("../images/svg/icon-list.svg");
          mask-image: url("../images/svg/icon-list.svg");
}

.show-more {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 17px 0;
  width: 619px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  background-color: #83b3d3;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 60px;
}

.social-media {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 30%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.social-media-link {
  position: relative;
  box-sizing: border-box;
  padding: 20px;
  display: block;
  height: 20px;
  width: 20px;
}

.social-media-link::before {
  position: absolute;
  top: 10px;
  right: 10px;
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #83b3d3;
}

.social-media-link:hover::before {
  display: block;
  content: "";
  width: 20px;
  height: 20px;
  background-color: #68a2ca;
}

.social-media-link:focus {
  outline: 3px solid #83b3d3;
  border-radius: 10px;
}

.social-media-link:active::before {
  background-color: rgba(117, 98, 87, 0.3);
}

.social-media-link-twitter::before {
  -webkit-mask-image: url("../images/svg/icon-twitter.svg");
          mask-image: url("../images/svg/icon-twitter.svg");
}

.social-media-link-facebook::before {
  -webkit-mask-image: url("../images/svg/icon-facebook.svg");
          mask-image: url("../images/svg/icon-facebook.svg");
}

.social-media-link-youtube::before {
  -webkit-mask-image: url("../images/svg/icon-youtube.svg");
          mask-image: url("../images/svg/icon-youtube.svg");
}

.subscribe {
  padding: 94px 200px;
  background-image: url("../images/jpg/bg-email.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.subscribe-title {
  margin: 0;
  margin-bottom: 30px;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.subscribe-subtitle {
  color: #ffffff;
  margin: 0;
  margin-bottom: 46px;
  font-size: 22px;
  line-height: 26px;
}

.email {
  display: flex;
}

.input-email {
  box-sizing: border-box;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  width: 600px;
  padding: 17px;
  padding-left: 22px;
  border-radius: 10px 0 0 10px;
  border: none;
  outline-offset: -3px;
}

.input-email:hover {
  background-color: #e6e6e6;
}

.input-email:focus {
  background-color: #e6e6e6;
  outline: 3px solid #83b3d3;
}

.input-email:invalid {
  background-color: #ffffff;
  outline: 3px solid #ff5757;
}

.tel-number {
  padding: 20px 0;
  text-decoration: none;
  margin: 0 auto;
  font-size: 40px;
  line-height: 46px;
  color: inherit;
  outline-offset: 15px;
  border-radius: 10px;
}

.tel-number:hover {
  color: #756257;
}

.tel-number:focus {
  outline: 3px solid #83b3d3;
}

.tel-number:active {
  color: rgba(117, 98, 87, 0.3);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.welcome {
  padding-top: 548px;
  background-image: url("../images/jpg/image-main.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 31px;
}
