@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

html {
  height: 100%;
  background-color: #e5e5e5;
}

body {
  min-height: 100%;
  margin: 0 auto;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  font-family: "Pt Sans", sans-serif;
  font-size: 18px;
  line-height: 21px;
  background-color: #ffffff;
}

.advantage-text {
  text-align: center;
  font-size: 22px;
  line-height: 36px;
  color: #333333;
  margin-top: 0;
  margin-bottom: 80px;
}

.advantage-title {
  margin-top: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantage-description {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 18px;
  line-height: 21px;
  color: #333333;
}

.advantage-additions-title {
  margin: 0;
  font-weight: 700;
  font-size: 24px;
  line-height: 28px;
}

.advantage-card > .advantage-description {
  color: inherit;
}

.advantage-card {
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 1);
  color: #ffffff;
  width: 33.33333%;
  text-align: center;
  padding: 97px 90px 87px;
}

.advantage-additions {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
  text-align: center;
}

.advantage-additions-item {
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
  width: 33.33333%;
  padding: 97px 90px 87px;
}

.advantage-additions-item:nth-child(2n) {
  background-color: #ffffff;
}

.advantage-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.advantage-list-item {
  text-align: center;
  box-sizing: border-box;
  background-color: rgba(131, 179, 211, 0.12);
  width: 33.33333%;
  padding: 97px 75px 87px;
}

.advantage-list-item:nth-child(2n) {
  background-color: rgba(131, 179, 211, 0.2);
}

.advantage-list-group {
  display: flex;
  flex-wrap: wrap;
}

.subscribe {
  padding: 94px 200px;
  background-image: url("../images/jpg/bg-email.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
}

.subscribe-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  color: #ffffff;
}

.subscribe-subtitle {
  color: #ffffff;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 26px;
}

.subscribe-submit {
  width: 160px;
  height: 48px;
  border-radius: 4px;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  margin-bottom: 20px;
}

.newsline-button {
  width: 160px;
  height: 48px;
  border-radius: 0 4px 4px 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #83b3d3;
  border: none;
  margin-bottom: 20px;
}

.email {
  display: flex;
  margin-top: 46px;
}

.input-email {
  font-size: 18px;
  line-height: 26px;
  width: 600px;
  padding: 11px;
  padding-left: 22px;
  border-radius: 4px 0 0 4px;
  border: none;
}

.button-container {
  margin-left: auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  width: 160px;
  align-self: flex-end;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/ptsans-400.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Pt Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/ptsans-700.woff2") format("woff2");
  font-display: swap;
}

.header {
  display: flex;
  padding: 0 72px;
}

.header-nav {
  width: 50%;
  padding: 20px 17px;
}

.header-logo-link {
  margin-right: 30px;
}

.main-container {
  flex-grow: 1;
}

.nav-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.header-list {
  display: flex;
  flex-wrap: wrap;
  list-style-type: none;
  justify-content: flex-end;
  width: 30%;
  margin: 0;
  padding: 20px 0;
}

.nav-link {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  color: inherit;
  text-decoration: none;
  margin-right: 34px;
}

.list-link-search {
  min-height: 18px;
  min-width: 18px;
  margin-left: 12px;
}

.list-link-like {
  min-height: 18px;
  min-width: 18px;
  margin-left: 24px;
}

.list-link-yes {
  margin-left: 32px;
  min-width: 160px;
  font-family: "Pt Sans", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
  padding: 9px 15px;
  display: block;
  width: 130px;
  text-align: center;
  border-radius: 4px;
  box-sizing: border-box;
}

.welcome {
  padding-top: 548px;
  background-image: url("../images/jpg/image-main.jpg");
  background-repeat: no-repeat;
  background-size: 100%;
}

.title {
  display: block;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 31px;
}

.offer {
  padding: 93px 240px;
  text-align: center;
}

.offer-title {
  margin: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 36px;
}

.offer-subtitle {
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 22px;
  line-height: 26px;
  color: #333333;
}

.offer-link {
  display: block;
  margin-top: 56px;
  font-weight: 700;
  font-size: 20px;
  line-height: 36px;
  background-color: #756257;
  color: #ffffff;
  text-decoration: none;
}

.submit {
  font-weight: 700;
  font-size: 20px;
  line-height: 26px;
  text-transform: uppercase;
  color: #ffffff;
  background-color: #83b3d3;
}

.tel-number {
  margin: 0 auto;
  font-size: 40px;
  line-height: 46px;
  color: inherit;
}

.inner-container {
  background-image: url("../images/jpg/bg-catalog.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  color: #ffffff;
  padding: 35px 72px 83px;
}

.header-inner-title {
  margin: 0;
  font-weight: 700;
  font-size: 60px;
  line-height: 78px;
  color: #ffffff;
}

.breadcrumbs {
  display: flex;
  width: 50%;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.breadcrumbs-link {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  margin-bottom: 43px;
}

.hotel-filter {
  display: flex;
}

.hotel-filter-title {
  margin-bottom: 30px;
  padding: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
}

.hotel-filter-list {
  width: 150px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.hotel-filter-group {
  margin-right: 30px;
  margin-left: 0;
  border: none;
  padding: 0;
}

.hotel-filter-group:nth-last-of-type(2) {
  margin: 0;
}

.hotel-filter-group:last-of-type {
  margin-left: 216px;
  margin-right: 0;
}

.hotel-selection {
  margin-top: 45px;
}

.number-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.reset {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 23px;
  color: #ffffff;
  background-color: transparent;
  border: none;
  width: 160px;
  height: 23px;
}

.search-result {
  text-transform: uppercase;
  margin-right: 160px;
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 700;
  font-size: 30px;
  line-height: 38px;
}

.select-control {
  font-family: "Pt Sans", sans-serif;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  padding: 12px 40px 12px 20px;
  margin-right: 81px;
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.button-card {
  width: 48px;
  height: 48px;
  border: 2px solid #000000;
  border-radius: 4px;
  margin-right: 8px;
}

.button-slide {
  width: 48px;
  height: 48px;
  border: 2px solid #e6e6e6;
  border-radius: 4px;
  margin-right: 8px;
}

.button-list {
  width: 48px;
  height: 48px;
  border: 2px solid #e5e5e5;
  border-radius: 4px;
}

.hotel-title {
  font-weight: 700;
  font-size: 24px;
  line-height: 31px;
}

.hotel-type {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.grade-hotel {
  font-size: 16px;
  line-height: 20px;
  color: #333333;
}

.hotel-link-details {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #756257;
}

.hotel-link-like {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  background-color: #83b3d3;
}

.section-filter {
  display: flex;
  padding: 50px 72px;
}

.show-more {
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: block;
  padding: 17px 0;
  width: 619px;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #ffffff;
  background-color: #83b3d3;
  margin: 0 auto;
  border-radius: 4px;
  margin-bottom: 60px;
}

.pagination-title {
  font-size: 18px;
  line-height: 23px;
  color: #333333;
}

.pagination-container {
  display: flex;
  padding: 0 72px;
  margin-bottom: 73px;
  justify-content: space-between;
  align-items: center;
}

.pagination-list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.pagination-link {
  display: block;
  width: 55px;
  border-radius: 4px;
  background-color: #83b3d3;
  text-decoration: none;
  line-height: 25px;
  text-align: center;
  padding: 15px 0;
  margin-right: 8px;
  font-weight: 700;
  font-size: 20px;
  color: #ffffff;
}

.pagination-link-first {
  background-color: #f2f2f2;
  color: #000000;
}

.pagination {
  margin-left: 51px;
  padding: 12px 40px 12px 20px;
  width: 160px;
  font-family: "Pt Sans", sans-serif;
  font-size: 18px;
  line-height: 23px;
}

.social-media {
  display: flex;
  flex-wrap: wrap;
  width: 30%;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.logo-container {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
  width: 30%;
}

.page-footer {
  display: flex;
  padding: 40px 72px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}
